* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url(imagens/background.jpg);
  background-color: transparent;
  margin: 0;

}


/* inicio HEADER */
.nav {
  background-color: #000000;
  /* preto */
  color: #ff0000;
  /* Branco para o texto */
  padding: 20px;
  display: flex;
  /* flexbox para alinhar itens */
  align-items: center;
  /* Alinha os itens verticalmente ao centro */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 100%;
  max-height: 110px;
  border-bottom: #ff0000 30px solid;
  margin-top: 0px;
  z-index: 999;

}

.nav img {
  height: 180px;
  /* Ajuste conforme necessário */
  margin-right: 10px;
  /* Espaço entre a imagem e o texto */
  width: auto;
  margin-top: 30px;
  transform: 0.3s ease;
}

.nav img:hover {
  transform: scale(1.1);
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  transition: color 0.3s;
}

/* Adiciona cor de hover e sublinhado animado */
.nav-list a:hover {
  color: #ff6347;
  /* Tomate */
}

/* Transição de efeito de elevação */
.nav-list a {
  display: inline-block;
  padding: 10px 15px;
  transition: transform 0.3s;
}

.nav-list a:hover {
  transform: translateY(-3px);
}

/*Fim header*/

/*INICIO DO FORMULARIO*/
.container {

  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 100px;
  margin-top: 100px;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus {
  border-color: #ff0000;
  outline: none;
}

button {
  background-color: #000000; /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none; /* Sem borda */
  padding: 15px 32px; /* Espaçamento interno */
  text-align: center; /* Alinhar o texto */
  text-decoration: none; /* Remover sublinhado */
  display: inline-block; /* Exibição em linha */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor ao passar o mouse */
  border-radius: 4px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Efeito de transição */
}

button:hover {
    background-color: #ff0000; /* Cor ao passar o mouse */
}

p{
  color: #ffffff;
}
a{
  text-align: center; 
  /*color: #000000;
  text-decoration: none;*/
  
}

button:hover {
  background-color: #ff0000;
}


#botao {
  transition: 1s ease;

  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 999;

  transform: translateY(15vh) translateX(-25px);

  width: 10px;
  height: 10px;

  opacity: 0;
}

#botao.btnrolagem {
  transform: translateY(0);

  width: 50px;
  height: 50px;

  opacity: 100;
}

#botao.btnrolagem img {
  width: 50px;
  height: 50px;
}

#botao img {
  transition: 1s ease;

  width: 0px;
  height: 0px;
}
/*fim botao voltar ao topo*/



/*RÓDAPE*/
footer {
  color: white;
  text-align: center;
  padding-bottom: 0;
  margin: 0;

}

.rodape-superior {
  background-color: #da0707;
  height: 50px;
  margin: 0;


}

.rodape-inferior {
  background-color: black;
  padding: 2PX;
  margin: auto;
  padding-bottom: 4px;
 
}

.rodape-inferior a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rodape-inferior a:hover {
  color: red;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  max-width: 1200px;
  margin: 0 auto;
}

.menu-simplificado,
.suporte {
  flex: 1;
  padding: 0 20px;
  margin-bottom: 10px;

}

.menu-simplificado ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  margin-bottom: 10px;
  align-items: baseline;
}

.menu-simplificado li {
  margin-bottom: 10px;
}

.menu-simplificado a {
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3em;
  transition: color 0.3s, transform 0.3s, background-color 0.3s;
  display: inline-block;
  border-radius: 5px;
  
}


.menu-simplificado a:hover {
  color: #e74c3c;
  transform: scale(1.1);
}

.suporte h2 {
  margin-bottom: 10px;
}

.suporte p {
  margin-bottom: 10px;
  /* Espaçamento entre parágrafos no suporte */
}

.copyright {
  text-align: center;
}

/*fim do rodapé*/
/* Responsividade */
@media (max-width: 900px) {

  .nav {
    max-width: 100%;
  }

  .nav-list {
    display: none;
    max-width: 100%;
    position: right;
    top: 50px;
    left: 0;
  }

  .nav img {
    width: 170px;
    height: 170px;
    margin-top: 30px;
  }

  .nav-list li {
    text-align: center;
    padding: 5px;
    max-width: 100%;
  }

  .nav-list a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s;
    padding: 3px;
  }


  .btn-abrir_menu img {
    display: block;
  }

  .menu-mobile {
    display: block;
  }


  section {
    max-width: 95%;
    /* Reduz um pouco mais a largura máxima */
  }

  .rodape-inferior,
  .rodape-superior {

    width: 100%;
  }

  .menu-simplificado ul {
    padding: 0 20px;
  }

  .suporte {
    margin: right;
    margin-right: 20px;
  }
}

/*fim responsividade -915px*/

/*responsividade para telas menores que 615px*/
@media (max-width: 675px) {

  .nav {
    padding: 10px;
    /* Reduz padding para economizar espaço */
  }

  .nav img {
    width: 150px;
    height: 150px;
    /* Reduz o tamanho do logo para melhor ajuste */
    margin-top: 20px;
    /* Ajusta margem superior do logo */
  }

  .nav-list {
    display: none;
    flex-direction: row;
    /* Altera para uma disposição vertical */
    align-items: center;
    /* Centraliza os itens verticalmente */
    justify-content: center;
    /* Centraliza os itens horizontalmente */
    height: auto;
    /* Altura automática para ajuste do conteúdo */
    max-height: 0;
    /* Começa com altura zero */
    transition: max-height 0.3s ease;
    /* Transição suave para a altura */
  }

  .nav-list li {
    margin: 10px;
    /* Espaçamento entre os itens da lista */
    text-align: center;
    /* Centraliza o texto dos links */
  }

  .nav-list a {
    text-decoration: none;

  }

  .btn-abrir_menu img {
    display: block;
  }

  .menu-mobile {
    display: block;
  }


  section {
    max-width: 100%;
    /* Ocupa toda a largura disponível */
    padding: 5px;
    /* Reduz o padding */
  }


  section h2 {
    font-size: 1.8rem;
    /* Reduz o tamanho da fonte do título */
  }

  section p {
    font-size: 1rem;
    /* Reduz o tamanho da fonte do parágrafo */
  }


  .rodape-inferior,
  .rodape-superior {
    width: 100%;
    /* Rodapé ocupa a largura total */
  }

  .suporte {
    margin-right: 0;
    /* Remove margem direita do bloco de suporte */
  }
}

/*fim responsividade -675px*/


@media (max-width: 500px) {

  .nav {
    padding: 10px;
    /* Reduz padding para economizar espaço */
  }

  .nav img {
    width: 120px;
    height: 120px;
    /* Reduz o tamanho do logo para melhor ajuste */
    margin-top: 15px;
    /* Ajusta margem superior do logo */
  }

  .nav-list {
    display: none;
  }

  .nav-list li {
    margin: 5px;
    /* Espaçamento entre os itens da lista */
    text-align: center;
    /* Centraliza o texto dos links */
  }

  .nav-list a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s;
    padding: 5px;
  }


  .btn-abrir_menu img {
    display: block;
  }

  .menu-mobile {
    display: block;
  }


  section {
    padding: 3px;
    /* Reduz ainda mais o padding */
  }

  section h2 {
    font-size: 1.5rem;
    /* Reduz ainda mais o tamanho da fonte do título */
  }

  section p {
    font-size: 0.9rem;
    /* Reduz ainda mais o tamanho da fonte do parágrafo */
  }


  .rodape-inferior,
  .rodape-superior {
    width: 100%;
    /* Rodapé ocupa a largura total */
  }

  .suporte {
    margin-right: 0;
    /* Remove margem direita do bloco de suporte */
  }
}

/*fim responsividade -570px*/